html {
  position:relative;
  min-height:100%
}

body {
  font-family:"Nunito"
}

.jumbotron, .jumbotron h1 {
  margin-bottom:0px
}

.jumbotron {
  padding:3rem 2rem 2rem
}

.jumbotron img {
  width:150px;
  height:150px;
  margin-bottom:24px;
  border-radius:50%
}

main {
  padding-top:24px
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
  line-height:60px;
  background-color:#e9ecef
}

.footer p {
  margin-bottom:0
}

@media screen and (max-width:576px) {
  .jumbotron {
    padding:1rem 2rem
  }
  .jumbotron img {
    margin-bottom:16px
  }
}
